* {
  margin: 0;
  padding: 0;
  font-family: 'poppins', sans-serif;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #080808;
  color: #fff;
}

#header {
  width: 100%;
  height: 100vh;
  /* background-image: url(); */
  background-size: cover;
  background-position: center;
}

.container {
  padding: 10px 10%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo {
  width: 140px;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  position: relative;
}

nav ul li a:hover{
  color: #22d3ee ;
  text-decoration: none;
}

nav ul li a::after {
  content: '';
  width: 100%;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

nav ul li a:hover::after {
  width: 100%;
}

.header-text {
  margin-top: 20%;
  font-size: 30px;
}

.header-text h1 {
  font-size: 60px;
  margin-top: 20px;
}

.header-text h1 span {
  color: #ff004f;
}

/* <!-- ------------about--------------- --> */

#about {
  padding: 80px 0px;
  color: #ababab;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-col-1 {
  flex-basis: 35%;
}

.about-col-1 img {
  width: 100%;
  border-radius: 15px;
}

.about-col-2 {
  flex-basis: 60%;
}

.about-col-2 p {
  font-size: 25px;
}

.sub-title {
  font-size: 60px;
  font-weight: 600;
  color: #fff;
}

.skill_icon_color i {
  font-size: 50px;
  color: orange;
}

.tab-titles {
  display: flex;
  margin: 20px 0 40px;
}

.tab-links {
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  color: #fff;

  position: relative;
}

.tab-links:hover {
  color: rgb(245, 1, 216);
  text-decoration: underline;
}

.tab-links::after {
  content: '';
  width: 0;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: 8px;
  transition: 0.5s;
}

.tab-links .active-link::after {
  width: 50%;
}

.tab-contents {
  list-style: none;
  margin: 10px 0;
}

.tab-contents ul li span {
  /* color: #b54769; */
  /* color: rgb(255, 255, 0); */
  color: #38bdf8;
  font-size: 18px;
}

.text {
  color: #fff;
}

.tab-contents {
  display: none;
}

.tab-contents.active-tab {
  display: block;
}

/* ------ Projects --------- */

#project {
  padding: 50px 0;
}

.sub-title {
  margin-bottom: 30px;
  margin-left: 40px;
}

.work-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.work {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.work img {
  width: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}

.layer {
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.6), #ff004f);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 14px;
  transition: height 0.5s;
}

.layer h3 {
  font-weight: 500;
  margin-bottom: 20px;
}

.layer a {
  margin-top: 20px;
  color: #ff004f;
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  background: #fff;
  width: 45px;
  height: 45px;

  border-radius: 50%;
  text-align: center;
}

.work:hover img {
  transform: scale(1.1);
}

.work:hover .layer {
  height: 100%;
}

.heding-tech {
  /* color: rgb(91, 91, 227); */
  /* color: #6b21a8 ; */
  color: #f43f5e;
}

/* ------------ contact -------------- */

.contact-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* flex-basis: 35%; */
  /* border: 1px red solid; */
}

.contact-right {
  flex-basis: 60%;
}

.contact-left p {
  text-align: left;
  margin-top: 30px;
}

.contact-left p i {
  color: #ff004f;
  margin-right: 15px;
  font-size: 25px;
}

.social-icons {
  margin-top: 30px;
}

.social-icons a {
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color: #ababab;
  display: inline-block;
  transition: transform 0.5s;
}

.social-icons a:hover {
  color: #ff004f;
  transform: translateY(-5px);
}

.btn {
  display: block;
  margin: 50px auto;
  width: fit-content;
  border: 1px solid #ff004f;
  padding: 14px 50px;
  border-radius: 6px;
  text-decoration: none;
  color: #fff;
}

.btn.btn2 {
  display: inline-block;
  background-color: #ff004f;
}

.contact-right form {
  width: 100%;
}

form input,
form textarea {
  width: 100%;
  border: 0;
  outline: none;
  background: #262626;
  padding: 15px;
  margin: 15px 0;
  color: #fff;
  font-size: 18px;
  border-radius: 6px;
}

form .btn2 {
  padding: 14px 60px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
}

.copyright {
  width: 100%;
  text-align: center;
  padding: 25px 0;
  background: #262626;
  font-weight: 300;
  margin-top: 20px;
}

.copyright i {
  color: #ff004f;
}

/* ----------------- css for small screen ------------------ */

nav .fas {
  display: none;
}

@media only screen and (max-width: 600px) {
  /* #header {
    background-image: url(images/phone-background.jpeg);
  } */

  /* .layer {
    width: max-content;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
  } */

  .header-text p {
    margin-right: 400px;
  }

  .layer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    /* width: max-content;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: center; */
  }

  .layer h3,
  p {
    font-size: 10px;
    text-align: center;
    overflow: visible;
  }

  .layer div:nth-child(2) {
    margin: auto;
    /* margin-right: 20px; */
  }

  .layer a {
    font-size: 10px;
    display: flex;
    width: 25px;
    height: 25px;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .header-text {
    margin-top: 310px;
    font-size: 16px;
  }

  .header-text h1 {
    font-size: 30px;
  }

  nav .fas {
    display: block;
    font-size: 25px;
  }

  nav ul {
    background: #ff004f;
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.5s;
  }

  nav ul li {
    display: block;
    margin: 25px;
  }

  nav ul .fas {
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
  }

  .sub-title {
    font-size: 30px;
    margin-bottom: 10px;
  }

  .about-col-1,
  .about-col-2 {
    flex-basis: 100%;
  }

  .about-col-1 {
    margin-bottom: 30px;
  }

  .about-col-2 {
    font-size: 14px;
  }

  .tab-links {
    font-size: 16px;
    margin-right: 20px;
  }

  .contact-left,
  .contact-right {
    flex-basis: 100%;
  }

  .copyright {
    font-size: 14px;
  }
}

#msg {
  color: #61b752;
  margin-top: -40px;
  display: block;
}

/* ------------------ tech stack -------- */

#tech_stack_container {
  height: auto;
  width: 100%;
  background-color: rgb(201, 196, 196);
  margin: auto;
  margin-bottom: 30px;
}
#tech_stack_container h1 {
  color: #080808;
  margin-bottom: 20px;
  margin-left: 20px;
}
.tech_feild {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.tech_feild div {
  height: auto;
  width: 300px;

  border-radius: 30px;
  margin-bottom: 30px;
}

.tech_feild div img {
  width: 100%;
  height: 200px;
  border-radius: 40px;
}

/* ------------ div project css --------------- */

.project_container {
  /* border: 2px solid black; */
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.project_container div {
  height: auto;
  width: auto;
  /* border: 2px solid red; */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.project_container div img {
  width: 100%;
  height: 300px;
}

.btn_to_see {
  background-color: #9d174d;

  padding: 20px 40px;
  color: aqua;
  border-radius: 10px;
  margin-right: 20px;
  display: block;
  margin: auto;
  margin-bottom: 10px;
}
button a {
  color: aliceblue;
  font-size: 30px;
  text-decoration: none;
}

.center {
  display: block;
  margin: auto;
}

.project_container div h2 {
  text-decoration: underline;
}

.center_gain {
  text-align: center;
  margin-bottom: 30px;
}

.project_container div img {
  margin-bottom: 30px;
}

/* <!-- --------------- Stacties-------------- --> */

.statics {
  height: auto;
  width: 100%;
  border: 1px solid #ff004f;
  margin-bottom: 30px;
  border-radius: 20px;
}
.statics h1 {
  margin-left: 30px;
  font-size: 40px;
  color: #38bdf8;
}

.felex_static {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.felex_static div {
  height: auto;
  width: 24%;
  border: 1px solid black;
}
.felex_static div p {
  text-align: center;
  font-size: 30px;
  overflow: hidden;
}

/* -------------------- git hub --------------- */

.githhubCalendar {
   /* border: 1px solid #ff004f; */
  height: 300px;
  width: 100%;
  margin-bottom: 50px;
}
.githhubCalendar img {
  width: 100%;
  height: 240px;
}
