/* header {
    padding-top: 2.5rem;
    overflow: hidden;
     margin-top: 80px;
   
}

.header_container {
    text-align: center;
    position: relative;
    
}


.cta {
    margin: 2rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

.header_socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
}

.header_socials::after {
    content: "";
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}

.dynamic_text {
    display: inline-block;
    overflow: hidden;
    line-height: 2rem;
    height: 1.9rem;
}

.dynamic_text li {
    margin-bottom: 1rem 0rem;
    position: relative;
    font-size: 1.5rem;
    letter-spacing: 2px;
    top: 0;
    overflow: hidden;
    animation: slide 9s steps(3) infinite;
}

@keyframes slide {
    100% {
        top: -6rem;
    }
}

.dynamic_text li span {
    position: relative;
}

.dynamic_text li span::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    background: #1d1d34;
    border-left: 2px solid var(--color-primary);
    animation: typing 3s steps(5) infinite;
    transition: 1s;
}

@keyframes typing {
    23% {
        left: 50%;
        margin: 0 -35px 0 0;
    }

    46% {
        left: 100%;
        margin: 0 0 0 35px;
    }

    50% {
        left: 100%;
    }

    75% {
        left: 50%;
    }

    100% {
        left: 0%;
        margin: 0 -35px 0 0;
    }
}

.me {
    background: transparent;
    width: 23rem;
    height: 23rem;
    margin: auto;
    border-radius: 50%;
    overflow: hidden;
}

.me img {
    min-width: 100%;
    max-width: 100%;
    max-height: 100%;
    min-height: 100%;
}

.scroll_down {
    position: absolute;
    right: -2.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 600px) {

    .header_socials,
    .scroll_down {
        display: none;
    }
    .me{
        /* margin-right: -90px; */
/* width: 310px; */
/* } */

/* }  */

/* ------------ new CSS for header------------  */

#home {
  height: 450px;
  width: 85%;
  border: 1px;
  margin: auto;
  margin-top: 110px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9%;
  position: relative;
}

/* 
#home>div {
    border: 1px solid black;
} */

#home > div:first-child {
  padding-left: 15%;
  padding-top: 18%;
}
.resume_icon {
  margin-left: 5px;
}

#home > div:first-child > button {
  background-color: var(--color-bg-variant);
  height: 40px;
  width: 110px;
  border-radius: 6px;
  border: 1px;
  font-size: 17px;
  letter-spacing: 1.5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin-top: 10px;
  color: white;
}

#resume-button-2 {
  text-decoration: none;
  color: white;
  font-weight: 700;
  background-color: var(--color-bg-variant);
}



/* #resume-button-2 {
  background: transparent;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  border: none;
  background-color: var(--color-bg-variant);
  
} */

.header_socials {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  margin-top: 1.5rem;
  font-size: 25px;
  bottom: 3rem;
  color: var(--color-bg-variant);
}

#home .web {
  width: max-content;
  padding: 0.5rem 3rem;
  margin-top: 1rem;
  border-radius: 12px;
  display: flex;
  align-items: center;
}

.header_socials2 {
  display: none;
}

#home > div:first-child > button:hover {
  opacity: 0.6;
}

#name {
  font-size: 3rem;
  font-weight: 600;
}
.header_type {
  display: flex;
  font-size: 1.5rem;
  gap: 5px;
}

#title {
  color: var(--color-primary);
  font-weight: bold;
  font-size: 1.5rem;
}

#picborder {
  height: 400px;
  width: 400px;
  background: transparent;
  border-radius: 50%;
  /* border: 2px solid var(--color-primary); */
  display: flex;
  align-items: center;
}

#pic > img {
  width: 80%;
  height: 100%;
  border-radius: 20%;
  object-fit: cover;
  margin-top: 5rem;
}

#home > div:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 1024px) {
  .header_type {
    display: block;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 768px) {
  #home {
    width: 100%;
    margin: auto;
    height: auto;
    grid-template-columns: 1fr;
    gap: 9%;
  }

  #home > div:first-child {
    text-align: center;
    padding-left: 0px;
    padding-top: 25%;
  }

  #name {
    font-size: 2rem;
    color: var(--color-primary);
  }

  #picborder {
    border: transparent;
  }
  .header_type {
    display: block;
    font-size: 1.5rem;
  }

  .header_socials2 {
    display: block;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
    margin: auto;
    margin-top: 1.5rem;
    font-size: 25px;
    bottom: 3rem;
    color: var(--color-bg-variant);
  }

  .header_socials {
    display: none;
  }
  #home .web {
    margin: auto;
    margin-top: 1rem;
  }

  #pic > img {
    width: 85%;
    height: 100%;
    border-radius: 20%;
    object-fit: cover;
    margin-top: 0.3rem;
    margin-left: 2rem;
    margin-bottom: 0.6rem;
  }
}
