nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--color-bg-variant);
  padding: 20px 80px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100000;
  margin-bottom: 200px;
}
.dp {
  font-size: 1.2rem;
  font-weight: 600;
  color: white;
}
#nav-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
#nav-menu li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}
#nav-menu li a {
  font-size: 1rem;
  font-weight: 600;
  color: white;
}
#nav-menu li a:hover,
#nav-menu li a.active {
  color: var(--color-primary);
}
#nav-menu li a:hover::after,
#nav-menu li a.active::after {
  content: '';
  width: 30%;
  height: 2px;
  background: var(--color-primary);
  position: absolute;
  bottom: -4px;
  left: 20px;
}
#resume-link-1 {
  background: transparent;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  border: none;
}
#mobile {
  color: white;
  display: none;
}
.rotate {
  rotate: 180deg;
}
@media screen and (max-width: 769px) {
  #nav-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 70px;
    right: -300px;
    width: 300px;
    height: 100vh;
    background: var(--color-bg-variant);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding: 40px 0 0 10px;
    transition: 0.3s ease-in-out;
  }
  #nav-menu.active {
    right: 0px;
  }
  #nav-menu li {
    margin-bottom: 25px;
  }
  #mobile {
    color: white;
    display: block;
  }
  .nav_icon {
    font-size: 24px;
    cursor: pointer;
  }
}
