.about_container {
  display: grid;
  grid-template-columns: 1fr;
}
.section {
  width: 60%;
  margin: 0 auto;
  text-align: center;
}
.section p {
  margin: 0rem 0 2.6rem;
  color: var(--color-white);
}
.experience_container .my_stats {
  background: transparent;
  text-align: center;
  padding: 0rem 3rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transtion);
  font-size: 0.9rem;
  color: var(--color-light);
}
.experience_container .my_stats:hover {
  background: transparent;
  border: 1px solid transparent;
}
.stats {
  width: 100%;
  border: 8px solid var(--color-primary);
  border-radius: 50px;
  padding: 1.4rem 2.3rem;
  text-align: center;
  margin-bottom: 0.8rem;
  margin-top: 1.6rem;
  box-shadow: 0 0 11px var(--color-primary);
  font-size: 1.3rem;
  color: var(--color-white);
}

.section p {
    text-align: justify;
    font-size: large;
    font-weight: 600;
  }
@media screen and (max-width: 1024px) {
  .about_container {
    grid-template-columns: 1fr;
    gap: 0;
  }
  .about_me {
    width: 50%;
    background: transparent;
    margin: 2rem auto 4rem;
  }
  .section {
    width: 100%;
  }
  .section p {
    margin: 1rem 0 1.5rem;
  }

  .section p {
    text-align: justify;
    font-size: large;
    font-weight: 600;
  }
}

@media screen and (max-width: 600px) {
  .about_me {
    width: 65%;
    margin: 0 auto 3rem;
    background: linear-gradient(
      45deg,
      transparent,
      var(--color-primary),
      transparent
    );
  }
  .about_cards {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .section {
    text-align: center;
  }
  .section p {
    margin: 1rem 0;
  }

  .section p {
    text-align: justify;
    font-size: large;
    font-weight: 600;
  }
}
