.github_calendar {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
}
.github_calendar footer {
  background: transparent;
  padding: 1rem 0rem;
  font-size: 0.9rem;
}

#github-streak-stats {
  width: '400px';
  display: 'block';
  margin: 'auto';
}

#github-top-langs {
  width: '400px';
  display: 'block';
  margin: 'auto';
}

#github-stats-card {
  width: '400px';
  display: 'block';
  margin: 'auto';
}
